

@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:300&subset=latin,cyrillic-ext);



.body_bg
{
	background: url(../img/bg_grd_01.png) repeat-x;
}

.main_main_bg
{
	width:100%;
	height: 100%;
	overflow:hidden;
	background-color: black;
	
}

.font_serif_gold_stl
{
	font-family: 'Noto Serif', serif;
	/*color: #F8ED81;*/
	color: #d2b645;
}

.gold_1_stl
{
	color:#fee47c;
}

.font_serif_white_stl
{
	font-family: 'Noto Serif', serif;
	color: #fff;
}

.font_open_sans_gold_stl
{
	font-family: 'Open Sans', serif;
	font-weight: 300; 
	/*color: #F8ED81;*/
	color: #d2b645;
}

.font_open_sans_white_stl
{
	font-family: 'Open Sans', serif;
	font-weight: 300; 
	color: #fff;
}

.font_open_sans_light
{
	font-family: 'Open Sans', serif;
	font-weight: 300;
}

h3
{
	font-size:14px;
	font-weight:normal;
	color:#fee47c;
}

.div_6px
{
	height: 6px;
}

.italic
{
	font-style: italic;
}

.f_s_1_stl
{
	font-size:140%;
}

.f_s_2_stl
{
	font-size:12px;
}

.f_s_3_stl
{
	font-size:14px;
	text-indent: 8px;
}

.f_s_4_stl
{
	font-size:12px;
}

html
{
	/*overflow:hidden;*/
}

body
{
	background-color: black;
	/*overflow:hidden;*/
}

.service_div
{
	background-color: black;
	overflow:hidden;
}

/****main logo****/

.logo_img_back
{
	overflow:hidden;
}

.logo_img_upper
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	overflow:hidden;
}

.logo_blur_1
{
	animation: logo_blur 1s 0s;
	animation-fill-mode: forwards;
	
	-webkit-animation: logo_blur 1s 0s;
	-webkit-animation-fill-mode: forwards;
}

.logo_blur_2
{
	-webkit-filter: blur(6px);
	-webkit-transform: scale(0.8); 
	top:-80px; 
	display:block;
}

.blur_bg_stl
{
	position: absolute;
	z-index: 0;
	overflow:hidden;
	
}

.main_logo
{
	width: 1024px;
	height: 768px;
	position: absolute;
	z-index: 1;
	margin: 0 auto;
	overflow:hidden;
	
}

.main_logo_show_anim
{
	animation: anim_opacity_on 2s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_opacity_on 2s;
	-webkit-animation-fill-mode: forwards;
}

.main_logo_hide_anim
{
	animation: anim_opacity_off 1s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_opacity_off 1s;
	-webkit-animation-fill-mode: forwards;
}

.main_logo_show_anim_2
{
	animation: anim_opacity_on 0.5s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_opacity_on 0.5s;
	-webkit-animation-fill-mode: forwards;
}

.main_logo_hide_anim_2
{
	animation: anim_opacity_off 0.5s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_opacity_off 0.5s;
	-webkit-animation-fill-mode: forwards;
}


@keyframes anim_opacity_on
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes anim_opacity_on
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes anim_opacity_off
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@-webkit-keyframes anim_opacity_off
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}


.glow 
{
	position: absolute;
	top: 5%;
	left: 62px;
	height: 400px;
	width: 900px;
	z-index: 400;
	background: transparent;
	overflow: hidden;
/*	-webkit-mask-box-image: url('/images/contour.png');*/
}

.gradient 
{
	position: absolute;
	width: 350px;
	height: 1000px;
/*	top: -700px;*/
/*	left: -500px;*/
	background-color: transparent;
	background-image: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
	background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	background-image: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));

	-webkit-transform: rotate(30deg) translate3d(-490px, -500px, 0);
	-webkit-transition-timing-function: linear;
	-moz-transform: rotate(30deg) translate(-490px, -500px);
	-moz-transition-timing-function: linear;
	-ms-transform: rotate(30deg) translate(-490px, -500px);
	-ms-transition-timing-function: linear;
	transform: rotate(30deg) translate(-490px, -500px);
	transition-timing-function: linear;

/*	-webkit-animation-name: grad2_trans;*/
/*	-webkit-animation-delay: 3s;*/
/*	-webkit-animation-duration: 5s;*/
/*	-webkit-animation-fill-mode: both;*/
/*	-webkit-animation-iteration-count: infinite;*/
}

@keyframes grad1_trans 
{
    0% { transform: rotate(30deg) translate(-490px, -450px); }
    100% { transform: rotate(30deg) translate(610px, -400px); }
}

@keyframes grad2_trans 
{
    0% { transform: rotate(80deg) translate(-770px, -200px); }
    50% { transform: rotate(80deg) translate(300px, -350px); }
    70% { transform: rotate(-100deg) translate(0px, 300px); }
    100% { transform: rotate(-100deg) translate(600px, 200px); }
}

@-webkit-keyframes grad1_trans {
    0% { -webkit-transform: rotate(30deg) translate3d(-490px, -450px, 0); }
    100% { -webkit-transform: rotate(30deg) translate3d(610px, -400px, 0); }
}

@-webkit-keyframes grad2_trans {
    0% { -webkit-transform: rotate(80deg) translate3d(-770px, -200px, 0); }
    50% { -webkit-transform: rotate(80deg) translate3d(300px, -350px, 0); }
    70% { -webkit-transform: rotate(-100deg) translate3d(0px, 300px, 0); }
    100% { -webkit-transform: rotate(-100deg) translate3d(600px, 200px, 0); }
}

@keyframes logo_blur
{
	0%{-webkit-filter: blur(0px); -webkit-transform: scale(1); top:0; display:none}
	99%{-webkit-filter: blur(0px); -webkit-transform: scale(1); top:0; display:none}
	100%{-webkit-filter: blur(6px); -webkit-transform: scale(0.8); top:-80px; display:block}
}

@-webkit-keyframes logo_blur
{
	from{-webkit-filter: blur(0px); -webkit-transform: scale(1); top:0}
	to{-webkit-filter: blur(6px); ; -webkit-transform: scale(0.9); top:-80px}
}

@keyframes logo_bg_opacity
{
	0%{opacity: 1;background: rgba(255, 255, 255, 1) url('../img/bg.jpg') no-repeat 0 0px;}
	100%{opacity: 1;background: rgba(255, 255, 255, 0) url('../img/bg.jpg') no-repeat 0 0px;}
}

@-webkit-keyframes logo_bg_opacity
{
	0%{opacity: 1;background: rgba(255, 255, 255, 1) url('../img/bg.jpg') no-repeat 0 0px;}
	100%{opacity: 1;background: rgba(255, 255, 255, 0) url('../img/bg.jpg') no-repeat 0 0px;}
}

/*стиль блестяшки*/
.spark 
{
	background: transparent url('../img/main_logo/spark.png') no-repeat 0px 0px;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 900;
}

.content_stl
{
	height: 100%;
	overflow: hidden;
	/*width: 1024px;*/
	width:1024px; 
	margin:0 auto;
	font-size: 14px;
	font-family: Ubuntu,Verdana,sans-serif;
	/*background: transparent url('../img/bg.jpg') no-repeat 0 0px;*/
}

.content_2_stl
{
	top: 170px;
	position: fixed;
	bottom: 120px;
	/*height: 85%;*/
	overflow: hidden;
	/*width: 1024px;*/
	width:1024px; 
	margin:0 auto;
	font-size: 14px;
	font-family: Ubuntu,Verdana,sans-serif;
	/*background: transparent url('../img/bg.jpg') no-repeat 0 0px;*/
	/*margin-top: 210px;*/
}

.main_bg_stl
{
	height: 100%;
	overflow: hidden;
	/*width: 1024px;*/
	width:1024px; 
	margin:0 auto;
	font-size: 14px;
	font-family: Ubuntu,Verdana,sans-serif;
	background: transparent url('../img/bg.jpg') no-repeat 0 0px;
}

.main_blur_bg_stl
{
	height: 100%;
	overflow: hidden;
	/*width: 1024px;*/
	width:1024px; 
	margin:0 auto;
	font-size: 14px;
	font-family: Ubuntu,Verdana,sans-serif;
	/*background: rgba(255, 255, 255, 1) url('../img/blur_bg.jpg') no-repeat 0 0px;*/
	
	/*opacity: 0;*/
	
	background: transparent url('../img/blur_bg.jpg') no-repeat 0 0px;
	
	/*
	animation: logo_bg_opacity 0.8s 5s;
	animation-fill-mode: forwards;
	
	-webkit-animation: logo_bg_opacity 0.8s 5s;
	-webkit-animation-fill-mode: forwards;
	*/
}

.foot_stl
{
	position: fixed;
	bottom: 0px;
	height: 120px;
	overflow: hidden;
	/*width: 1024px;*/
	width:1024px; 
	margin:0 auto;
	font-size: 14px;
	font-family: 'Open Sans ', sans-serif;
	/*background: transparent url('../img/bg.jpg') no-repeat 0 0px;*/
}


.menu_item_stl
{
	z-index: 900;
	position: relative;
	color:gold;
	font-size:160%;
	cursor:pointer;
}

.sub_menu_item_stl
{
	/*z-index: 900;
	position: relative;
	color:gold;
	font-size:160%;*/
	cursor:pointer;
	margin:0 auto;
}

.gallery_btn
{
	/*position: relative;*/
	width: 150px;
	height: 100%;
	/*top: 100px;
	left: 100px;*/
}

/*** меню ***/

.js_btn_label_img_stl_smpl
{
	text-align:center;
}

/*Главная*/
.mi_main_down_stl
{
	top: 406px;
	left: 170px;
	
}

.mi_main_up_stl
{
	top:50px;
	left: 130px;
}

.anim_mi_main_up
{
	animation: mi_main_up 0.8s 0s;
	animation-fill-mode: forwards;
	
	-webkit-animation: mi_main_up 0.8s 0s;
	-webkit-animation-fill-mode: forwards;
}
@keyframes mi_main_up
{
    from {top:406px}
	to {top:50px;left: 130px;}
}
@-webkit-keyframes mi_main_up
{
    0%{top:406px}
	100%{top:50px;left: 130px;}
}


.mi_service_and_price_down_stl
{
	top: 451px;
	left: 170px;
}

.mi_service_and_price_up_stl
{
	top: 25px;
	left: 120px;
}

.anim_mi_service_and_price_up
{
	animation: mi_service_and_price_up  0.8s 100ms;
	animation-fill-mode: forwards;
	
	-webkit-animation: mi_service_and_price_up 0.8s 100ms;
	-webkit-animation-fill-mode: forwards;
}
@keyframes mi_service_and_price_up
{
    from {top:451px}
	to {top:25px;left: 120px;}
}
@-webkit-keyframes mi_service_and_price_up
{
    0%{top:451px}
	100%{top:25px;left: 120px;}
}


.mi_gallery_down_stl
{
	top: 476px;
	/*left: 178px;*/
	left:137px;
}

.mi_gallery_up_stl
{
	top:5px;
	left: 130px;
}

.anim_mi_gallery_up
{
	animation: mi_gallery_up 0.8s 200ms;
	animation-fill-mode: forwards;
	
	-webkit-animation: mi_gallery_up 0.8s 200ms;
	-webkit-animation-fill-mode: forwards;
}
@keyframes mi_gallery_up
{
    from {top:476px}
	to {top:5px;left: 130px;}
}
@-webkit-keyframes mi_gallery_up
{
    from {top:476px}
	to {top:5px;left: 130px;}
}


.mi_virtual_tour_down_stl
{
	top: 458px;
	/*left: 161px;*/
	left:145px;
}

.mi_virtual_tour_up_stl
{
	top:25px;
	left: 140px;
}


.anim_mi_virtual_tour_up
{
	animation: mi_virtual_tour_up 0.8s 300ms;
	animation-fill-mode: forwards;
	
	-webkit-animation: mi_virtual_tour_up 0.8s 300ms;
	-webkit-animation-fill-mode: forwards;
}
@keyframes mi_virtual_tour_up
{
    from {top:458px}
	to {top:25px;left: 140px;}
}
@-webkit-keyframes mi_virtual_tour_up
{
    from {top:458px}
	to {top:25px;left: 140px;}
}

.mi_about_down_stl
{
	top: 406px;
	/*left: 101px;*/
	left: 65px;
}

.mi_about_up_stl
{
	top:50px;
	left: 110px;
}


.anim_mi_about_up
{
	animation: mi_about_up 0.8s 400ms ;
	animation-fill-mode: forwards;
	
	-webkit-animation: mi_about_up 0.8s 400ms ;
	-webkit-animation-fill-mode: forwards;
}
@keyframes mi_about_up
{
    from {top:406px}
	to {top:50px;left: 110px;}
}
@-webkit-keyframes mi_about_up
{
    from {top:406px}
	to {top:50px;left: 110px;}
}

.pg_main_page_txt
{
	text-align:center;
}

/*** страницы ***/

/* виртуальный тур */

.vt_apples_stl
{
	margin:0 auto;
}

.waiter_div
{
	position: fixed;
	width: 16%;
	z-index: 10000;
	top: 20%;
	left: 42%;
	/*background: #903;
	padding: 10px;*/
	text-align: center;
	/*border-radius: 5px;*//
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: white;
	font-size: 22px;
}

/*** сервис и услуги ***/

.p_sp_text_link
{
	text-align:right; 
	text-decoration: underline;
	font-family: 'Noto Serif', serif;
	color: #fff;
	font-style: italic;
}

.p_sp_price
{
	text-align:right; 
	font-family: 'Noto Serif', serif;
	color: #fff;
	line-height: 160%;
}

.p_sp_price_1
{
	text-align:left; 
	font-family: 'Noto Serif', serif;
	color: #fff;
	/*line-height: 160%;*/
}

.p_sp_mi_stl
{
	width:30%;
	float:left;
	/*text-align:center;*/
}

.p_sp_mi_1_stl
{
	width:30%;
	float:left;
	text-align:center;
}


/* полосы прокрутки */

::-webkit-scrollbar 
{
    width: 19px;
    height: 13px;
    /*background-image: url('../img/slider_03.png');*/
    /*background: rgba(150, 150, 150, 0.4);*/
    border-radius: 10px;
}

::-webkit-scrollbar-thumb 
{
  border: 2px white;
  border-radius: 10px;
}

/*::-webkit-scrollbar-button { background: gray;border-radius: 10px;} /* arrow buttons */
::-webkit-scrollbar-track 
{
	/*background: rgba(150, 150, 150, 0.4);border-radius: 10px;*/
	/*background:transparent;*/
	background: url('../img/slider_04.png') repeat-y;
	
} /* slider area */
::-webkit-scrollbar-thumb 
{ 
	/*background: rgba(0, 0, 0, 0.5);*/
	width:15px;
	height: 30px;
	background: url('../img/slider_06.png') no-repeat center;
} /* slider */
::-webkit-scrollbar-corner { background: white;} /* sizer (only visible in TEXTAREA) */

::-webkit-scrollbar-corner {
    /*background-image: url(resources/corner.png);
    background-repeat: no-repeat;*/
   background-color: white;
}

::-webkit-scrollbar-corner:window-inactive {
    /*background-image: url(resources/corner-inactive.png);*/
    background-color: white;
}

::-webkit-resizer {
    /*background-image: url(resources/resizer.png);
    background-repeat: no-repeat;
    background-position: bottom right;*/
   background-color: white;
}

::-webkit-resizer:window-inactive 
{
    /*background-image: url(resources/resizer-inactive.png);*/
    background-color: white;
}

::-webkit-scrollbar-track-piece:disabled {
    display: none !important;
}

::-webkit-scrollbar-button:disabled {
    display: none !important;
}

::-webkit-scrollbar-track:disabled {
    margin: 6px;
}

.dark_scroll
{
	
	scrollbar-face-color:#5997CA; 
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #5997CA;
	scrollbar-darkshadow-color: #5997CA; 
	scrollbar-track-color: #F6F6F6;
	scrollbar-arrow-color: #F6F6F6;
	
	
}
