/*
	css.css
	
	
	
	je_mod gallery css
*/

.je_mod_gallery_main_img_stl
{
	margin: 0 auto;
	background: transparent; 
	top: 108px;
	/*position: relative;*/
	height: 510px;
	overflow:hidden;
	width:780px;
}

.je_mod_gallery_mi_w_h_stl
{
	height:460px;
	width:460px;
}

.je_mod_gallery_main_img_div_stl
{
	text-align:center; 
	width:500px;
	/*height:500px;
	width:500px;*/
}

.je_mod_gallery_prev_btn_stl
{
	display:table; 
	/*width:20%;*/
	/*width: 150px;*/
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.je_mod_gallery_next_btn_stl
{
	display:table; 
	/*width:20%;*/
	/*width: 150px;*/
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.je_mod_gallery_thumb_stl
{
	height:20%;
	overflow:hidden;
	/*margin-top: 3%;*/
}

.je_mod_gallery_thumb_img_div_stl
{
	float:left;
}

.je_mod_gallery_thumb_band_stl
{
	position:relative;
	top:-100%;
	left: 50%;
	height:100%;
	width:3000%;
	overflow-y:hidden;
}

.je_mod_gallery_thumb_decorator_stl
{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 500;
	/*
	background: -moz-radial-gradient(center, ellipse cover, transparent 33%, transparent 41%, rgba(0, 0, 0, 0.04) 43%, rgba(0, 0, 0, 0.65) 70%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(33%,transparent), color-stop(41%,transparent), color-stop(43%,rgba(0, 0, 0, 0.04)), color-stop(70%,rgba(0, 0, 0, 0.65)));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
	*/
}

.je_mod_gallery_thumb_decorator_left_stl
{
	width: 40%;
	height: 100%;
	cursor:pointer;
	/*
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 57%, transparent 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0.65)), color-stop(57%,rgba(0, 0, 0, 0.65)), color-stop(100%,transparent));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
	*/
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 34%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(34%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 34%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

.je_mod_gallery_thumb_decorator_center_stl
{
	width: 20%;
	height: 100%;
}

.je_mod_gallery_thumb_decorator_right_stl
{
	width: 40%;
	height: 100%;
	cursor:pointer;
	/*
	background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.65) 52%, rgba(0, 0, 0, 0.65) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,transparent), color-stop(52%,rgba(0, 0, 0, 0.65)), color-stop(100%,rgba(0, 0, 0, 0.65)));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
	*/
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 61%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(61%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

}

@keyframes anim_fade_in
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-webkit-keyframes anim_fade_in
{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes anim_fade_out
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}

@-webkit-keyframes anim_fade_out
{
	0%{opacity: 1;}
	100%{opacity: 0;}
}


.je_mod_gallery_img_fade_in_stl
{
	animation: anim_fade_in 2s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_fade_in 2s;
	-webkit-animation-fill-mode: forwards;
}


.je_mod_gallery_img_fade_out_stl
{
	animation: anim_fade_out 2s;
	animation-fill-mode: forwards;
	
	-webkit-animation: anim_fade_out 2s;
	-webkit-animation-fill-mode: forwards;
}

